################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DHGSystems.FileSortingWithLimitedMemory/obj
/DHGSystems.FileSortingWithLimitedMemory.Common/obj
/DHGSystems.FileSortingWithLimitedMemory.Lib/obj
