################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DHGSystems.FileSortingWithLimitedMemory/obj
/DHGSystems.FileSortingWithLimitedMemory.Common/obj
/DHGSystems.FileSortingWithLimitedMemory.Lib/obj
/DHGSystems.FileSortingWithLimitedMemory/bin/Debug/net8.0
/DHGSystems.FileSortingWithLimitedMemory.Common/bin/Debug/net8.0
/DHGSystems.FileSortingWithLimitedMemory.Lib/bin/Debug/net8.0
/.idea/.idea.DHGSystems.FileSortingWithLimitedMemory.Common/.idea
/DHGSystems.FileSortingWithLimitedMemory.App/obj
/DHGSystems.FileSortingWithLimitedMemory.App/bin/Debug/net8.0/logs
/DHGSystems.FileSortingWithLimitedMemory.App/bin
/DHGSystems.FileSortingWithLimitedMemory.Lib/bin/Release/net8.0
/DHGSystems.FileSortingWithLimitedMemory.Common/bin/Release/net8.0
/DHGSystems.FileSortingWithLimitedMemory/bin/Release/net8.0/cs
/DHGSystems.FileSortingWithLimitedMemory/bin/Release/net8.0/de
/DHGSystems.FileSortingWithLimitedMemory/bin/Release/net8.0
