################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DHGSystems.FileSortingWithLimitedMemory/obj
/DHGSystems.FileSortingWithLimitedMemory.Common/obj
/DHGSystems.FileSortingWithLimitedMemory.Lib/obj
/DHGSystems.FileSortingWithLimitedMemory/bin/Debug/net8.0
/DHGSystems.FileSortingWithLimitedMemory.Common/bin/Debug/net8.0
/DHGSystems.FileSortingWithLimitedMemory.Lib/bin/Debug/net8.0
/.idea/.idea.DHGSystems.FileSortingWithLimitedMemory.Common/.idea
/DHGSystems.FileSortingWithLimitedMemory.App/obj
